.authorization {
    max-width: 440px;
    max-height: 450px;
    background-color: var(--text-color-regular);
    border-radius: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.authorization label {
    margin-top: 40px;
    margin-left: 103px;
    margin-bottom: 10px;
    font-size: var(--text-size-s);
  font-family: var(--roboto);
    color: var(--text-color-white);
  line-height: 21px;
}
.authorization p {
    font-size: var(--text-size-xxl);
  font-family: var(--bold-font);
    color: var(--text-color-white);
  line-height: 58px;
    padding-top: 22px;
    text-align: center;
}
.authorizationInput {
    font-size: var(--text-size-s);
  font-family: var(--roboto);
    color: rgba(37, 37, 37, 0.3);
  line-height: 21px;
    padding-left: 21px;
    width: 220px;
    height: 41px;
    margin-left: 103px;
    border: 1px solid #6C757D;
    box-sizing: border-box;
    border-radius: 5px;
}
.authorizationButton {
    font-size: var(--text-size-xs);
    font-family: var(--regular-font);
    font-weight: 600;
    color: var(--text-color-white);
    line-height: 19px;
    background-color: var(--pure-color);
    border: none;
    padding: 17.5px 16px 17.5px 16px;
    border-radius: 5px;
    width: 80px;
    height: 54px;
    margin-top: 60px;
    margin-bottom: 34px;
    margin-left: 180px;
}
@media screen and (max-width: 767px) {
    .authorization {
        margin-top: 138px;
    }
}
@media screen and (max-width: 767px) {
    .authorization {
        width: 268px;
        height: 274px;
    }
    .authorization p {
        font-size: 28px;
        line-height: 34px;
        padding-top: 13px;
    }
    .authorization label {
    margin-top: 20px;
    margin-left: 47px;
    margin-bottom: 10px;
    font-size: var(--text-size-xs);
    line-height: 19px;
    }
    .authorization label:nth-child(1) {
        margin-top: 12px;
    }
    .authorizationInput {
        font-size: var(--text-size-xxxs);
        line-height: 15px;
        width: 173px;
        height: 30px;
        margin-left: 47px;
        padding-left: 19px;
    }
    .authorizationInput:nth-child(2) {
        padding-left: 14.94px;
    }
    .authorizationButton {
        font-size: var(--text-size-xxs);
        line-height: 17px;
        background-color: var(--pure-color);
        border: none;
        padding: 0px 0px;
        border-radius: 5px;
        width: 80px;
        height: 38px;
        margin-top: 20px;
        margin-bottom: 18px;
        margin-left: 94px;
    }
}
