.footer {
    background-color: rgba(0, 0, 0, 1);
    height: 200px;
}
.footerInf {
    width: 970px;
    margin: 0 auto;
    margin-top: 33px;
}
.footerLogo {
    color: var(--text-color-white);
    font-size: var(--text-size-xl);
    font-family: var(--bold-font);
    line-height: 44px;
}
.footerServices p, .footerContacts p {
    color: var(--pure-color);
    font-size: var(--text-size-s);
    font-family: var(--bold-font);
    line-height: 22px;
    margin-bottom: 15px;
}
.footerServices a, .footerContacts a {
    color: var(--text-color-white);
    font-size: var(--text-size-xxs);
    font-family: var(--regular-font);
    line-height: 17px;
    margin-bottom: 10px;
} 
.footerServices a:nth-child(5) {
    margin-right: 35px;
}

.footerButtonTruck {
    margin-bottom: 30px;
    margin-left: 61px;
}
.copy {
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-family: var(--regular-font);
    line-height: 15px;
    margin-top: 79px;
    text-align: left;
    padding-left: 5px;
}
@media screen and (min-width: 500px) {
    .footerInf {
        text-align: center
    }
}
@media screen and (max-width: 767px) {
    .footer {
        height: auto;
    }
    .footerInf {
        flex-direction: column;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 30px;
    }
    .footerLogo {
        font-size: 28px;
        line-height: 34px;
    }
    .footerInf div {
        flex-direction: column;
    }
    .footerButtons {
        flex-direction: row-reverse!important;
        justify-content: space-between;
        margin-left: 35px;
        margin-right: 34px;
        margin-top: 30px;
    }
    .footerButtonTruck {
        width: 93px!important;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .footerServices p, .footerContacts p {
        margin-top: 32px;
        margin-bottom: 20px;
        font-size: var(--text-size-xs);
        line-height: 19px;
    }
    .footerServices a, .footerContacts a {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 0px;
    } 
    .footerServices a:nth-child(-n+4), .footerContacts a:nth-child(-n+3) {
        margin-bottom: 10px;
    } 
    .footerServices a:nth-child(5) {
        margin-right: 0px;
    }
    .copy {
        display: none;
    }
    .copymob {
    color: rgba(51, 51, 51, 1);
    font-size: 10px;
    font-family: var(--regular-font);
    line-height: 12px;
    margin-top: 13px;
    margin-bottom: 5px;
    text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1030px) {
    .footerInf {
        margin-top: 20px;
    }
    .footerLogo {
        margin-left: 30px;
        font-size: 28px;
        margin-right: 10px;
    }
    .copy {
        margin-left: 30px;
        margin-right: 10px;
    }
    
    .footerButtonRepair {
        width: 130px!important;
    }
    .footerButtonTruck {
        margin-left: 20px;
    }
    .footerButtons {
        margin-right: 30px;
        width: 20%;
        margin-left: 10px;
    }
}