.borderPartsDown {
    margin-left: 25px;
    margin-right: 0px!important;
    height: 1px;
    background-color: #CED4DA;
}
.cardsParts {
    width: 100%;
    margin-left: 30px;
    
}
.partsFilterOn {
    border: 1px solid var(--text-color-regular);
}
.cardParts {
    width: 100%;
    max-height: 171px;
    border-radius: 15px;
    margin-left: 0px;
    margin-bottom: 0px; 
}
.cardParts:nth-child(1) {
    height: auto
}
.cardParts:nth-child(n+2) {
    margin-top: 9px
}
.cardParts img{
    width: 180px;
    max-height: 160px;
}
.cardsPartsManufacturer {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: var(--text-size-l);
    line-height: 28px;
}
/*
.cardsPartsManufacturer:nth-child(2n+1) {
    margin-top: 9px;
}
*/
.cardsPartsDesc {
    margin-left: 28px;
    width: auto;
    margin-bottom: 0px;
    font-size: var(--text-size-xs);
    font-family: var(--roboto);
    line-height: 28px;
}
.cardsPartsAllDesc {
    font-size: var(--text-size-xs);
    font-family: var(--roboto);
    color: var(--text-color-lighter);
    line-height: 26px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.cardsPartsButton {
    width: 160px;
    height: 30px;
    font-family: var(--roboto);
    padding: 0px 0px;
    margin-right: 0px;
    cursor: pointer;
}
.cardsPartsPrice {
    font-size: var(--text-size-l);
    line-height: 28px;
    font-family: var(--roboto);
    margin-bottom: 12px;
    margin-right: 9px;
    margin-left: 0px;
}
.cardsPartsValute {
    font-size: var(--text-size-xxs);
    font-family: var(--roboto);
    margin-left: 0px;
    margin-top: 7px;
}
@media screen and (max-width: 1439px) {
    .cardsParts {
        margin-right: 0px!important;
    }
}
    
@media screen and (max-width: 1260px) {
    .content {
        margin-right: 22px;
    }
}
@media screen and (max-width: 1150px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
    .cardsParts {
        margin-left: 5px;
    }
    .cardsPartsManufacturer {
        margin-left: 5px;
    }
    .cardsPartsAllDesc {
        margin-left: 5px
    }
}
@media screen and (max-width: 1050px) {
    .cardsPartsButton {
        width: 70px
    }
}
@media screen and (max-width: 950px) {
    .cardParts {
        max-height: none;
        height: auto;
    }
    .cardParts div:nth-child(2) {
        justify-content: center;
    }
    .cardsPartsButton {
        width: 160px;
    }
}
@media screen and (max-width: 767px) {
    .content {
        margin-left: 8px;
        margin-right: 8px;
    }
    .cardsParts {
        margin-left: 0px;
    }
    .cardParts {
        flex-direction: column;
    }
    .cardParts img {
        width: 84px;
        height: 75px;
    }
    .cardsPartsManufacturer {
        margin-top: 6px;
        margin-bottom: 15px;
        font-size: var(--text-size-xxs);
        line-height: 16px;
    }
    .cardsPartsDesc {
        margin-left: 5px;
        width: auto;
        margin-bottom: 32px;
        font-size: var(--text-size-xxs);
        line-height: 16px;
    }
    .cardParts div div div {
        flex-direction: column
    }
    .cardsPartsAllDesc {
        font-size: var(--text-size-xxxs);
        line-height: 161.19%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .cardsPartsButton {
        width: 160px;
        height: 30px;
        font-family: var(--roboto);
        padding: 0px 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .cardPartsPriceButton {
        flex-direction: row
    }
    .cardsPartsPrice {
        font-size: var(--text-size-s);
        line-height: 21px;
        margin-bottom: 0px;
        margin-right: 5px;
    }
    .cardsPartsValute {
        font-size: var(--text-size-xxxs);
        line-height: 15px;
        margin-left: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-right: 14px;
    }
    .borderPartsDown {
        margin-left: 12px;
        margin-right: 10px!important;
    }
    .cardParts:nth-child(n+2) {
        margin-top: 10px;
    }
}