.leftMenu ul {
    margin-top: 20px!important;
}
.content {
    margin-right: 65px;
    max-width: 1322px;
    margin-left: 30px;
    margin-top: 43px;
    margin-bottom: 77px;
}
.form {
    max-width: 1145px;
    height: 21px;
    margin-bottom: 30px;
    display: flex;
}
.formMobile {
    display: none;
}
.form p {
    border: none;
    font-size: var(--text-size-s);
    font-family: var(--roboto);
    color: var(--text-color-regular);
    line-height: 21px;
    height: 21px;
    text-align: center;
}
.chooseBrand {
    margin-left: 10px;
}
.formDownImg {
    width: 12px;
    height: 6px;
    display: flex;
    align-self: center;
    margin-left: 15px;
    margin-right: 40px;
    cursor: pointer;
}

.partsCategory {
    font-size: var(--text-size-20);
    font-family: var(--roboto);
    color: var(--text-color-individualDark);
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 20px;
    max-width: 280px;
}
.partsDetail {
    font-size: var(--text-size-xxs);
    font-family: var(--roboto);
    color: var(--text-color-individualDark);
    line-height: 16px;
    font-weight: 400;
    margin-top: 15px;
    display: block;
}
.partsDetail span {
    font-size: var(--text-size-xxs);
    font-family: var(--roboto);
    color: var(--text-color-number);
    line-height: 16px;
    font-weight: 400;
    margin-left: 10px;
}
.partsCategoryFilters, .partsCategoryOils, .partsCategoryElectric {
    margin-top: 30px;
}
.partsCategoryIgnitionElectric, .partsCategoryBrake {
    margin-top: 47px;
}
.partsCategoryBrakeSystem {
    margin-top: 92px;
}
@media screen and (max-width: 1250px) {
    .formDownImg {
        margin-left: 5px;
        margin-right: 15px;
    }
    .partsCategory:nth-child(-n+3) {
        margin-right: 5px;
    }
}
@media screen and (max-width: 1050px) {
    .content {
        margin-right: 22px;
        margin-left: 10px;
    }
    .formDownImg {
        margin-left: 5px;
        margin-right: 10px;
    }
    .partsCategory:nth-child(-n+3) {
        margin-right: 5px;
    }
    .form a:nth-child(1) {
        margin-left: 0px;
    }
}
@media screen and (max-width: 767px) {
    .content {
        margin: 30px 8px 0px 8px;
        width: 100%;
    }
    .form {
        display: none;
    }
    .formMobile {
        display: flex;
        justify-content: center;
    }
    .formMobile input[type=text] {
        border: none;
        font-size: var(--text-size-xxs);
        line-height: 16px;
        padding-left: 20px;
        width: 228px;
        height: 40px;
        font-family: var(--roboto);
        color: var(--text-color-regular);
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-left: calc(50% - 113.5px)
    }
    .formMobile input[type=submit] {
        width: 98px;
        height: 39px;
        font-family: var(--roboto);
        color: var(--text-color-white);
        font-size: var(--text-size-xxs);
        line-height: 16px;
        background: var(--text-color-regular);
        border: none;
        margin-left: calc(50% - 49px);
        margin-bottom: 10px;
    }
    .partsName {
        flex-direction: column-reverse;
    }
    .partsCategory {
        margin-left: 24px;
    }
    .partsDetail {
        margin-top: 10px;
        margin-left: 43px;
    }
    .partsCategory:nth-child(-n+3) {
        margin-right: 0px;
        margin-top: 20px;
    }
    .partsCategoryFilters, .partsCategoryOils, .partsCategoryElectric {
        margin-top: 20px;
    }
    .partsCategoryIgnitionElectric, .partsCategoryBrake {
        margin-top: 20px;
    }
    .partsCategoryBrakeSystem {
        margin-top: 20px;
    }
}