.header {
    height: 90px;
    background-color: var(--text-color-individualDark);
}
.headerMobileImg {
    display: none;
}
.header ul {
    list-style-type: none;
    margin-left: 138px;
    align-items: center;
}
.header li a{
    font-size: var(--text-size-s);
    font-family: var(--roboto);
    color: var(--text-color-white);
    line-height: 22px;
    padding: 4px 10px;
    cursor: pointer;
}
.header li:nth-child(1) {
    margin-right: 46px;
}
.active {
    border-bottom: 1px solid var(--pure-color)
}
.header img {
    width: 29px;
    height: 29px;
    margin-right: 147px;
    margin-top: 31px;
    cursor: pointer;
}
.leftMenu ul {
    list-style-type: none;
    margin-top: 44px;
    width: 126px;
    height: 520px;
}
.leftMenu li a {
    font-size: var(--text-size-xxs);
    font-family: var(--roboto);
    color: var(--text-color-grey);
    line-height: 16px;
}
.leftMenu li {
    margin-left: 30px;
    padding: 8px;
    margin-bottom: 34px; 
}
.activeMenu {
    border-left: 2px solid var(--pure-color)
}
.border {
    border-right: 2px solid var(--pure-color);
    height: 520px;
    margin: 20px 0px;
}
.content {
    margin: 20px 147px 79px 22px;
}
.formAdd label {
    font-size: var(--text-size-s);
    font-family: var(--font-regular);
    color: var(--text-color-individualDark);
    line-height: 22px;
}
.formAdd input[type=text] {
    font-size: var(--text-size-s);
    font-family: var(--roboto);
    color: var(--text-color-lighter);
    line-height: 21px;
    padding-left: 16.66px;
    background-image: url(../img/down.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px     0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    width: 270px;
    height: 40px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.formAdd input[type=submit] {
    font-size: var(--text-size-s);
    font-family: var(--roboto);
    color: var(--text-color-white);
    line-height: 21px;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    margin-top: 30px;
    background-color: var(--text-color-regular);
}
.workshopsCard {
    max-width: 205px;
    height: 349px;
    border-radius: 15px; 
}
.workshopsCard img {
    display: block;
}
.workshopsCard:nth-child(n+2) {
    margin-left: 30px;
}
.workshopsInf {
    padding: 15px 15px 19px 15px;
}
.workshopTime {
    font-size: var(--text-size-xs);
    font-family: var(--bold-font);
    color: var(--text-color-lighter);
    line-height: 19px;
    margin-bottom: 15px;
}
.workshopAddress {
    font-size: var(--text-size-xs);
    font-family: var(--roboto);
    color: var(--text-color-regular);
    line-height: 19px;
    margin-bottom: 15px;
}
.workshopTypeOfRepair {
    font-size: var(--text-size-xs);
    font-family: var(--regular-font);
    color: var(--text-color-lighter);
    line-height: 19px;
}
@media screen and (max-width: 1250px) {
    .content {
        margin: 20px 22px 79px 22px;
    }
    .formAdd input[type=text] {
        max-width: 175px;
        
    }
    .formAdd input[type=submit] {
        width: 150px;
    }
    
}
@media screen and (max-width: 920px) {
    .formAdd input[type=text] {
        max-width: 140px;
        margin-right: 15px;
    }
    .workshopsCard:nth-child(n+2) {
        margin-left: 15px;
    }
}
@media screen and (max-width: 767px) {
    .content {
        margin: 20px 11px 0px 11px;
        width: 100%;
    }
    .header {
        height: 50px;
    }
    .headerMobileImg {
        display: block;
        margin-left: 37px;
        width: 20px;
        height: 13.33px;
    }
    .header ul {
        display: none!important
    }
    .header img {
        width: 19px;
        height: 19px;
        margin-right: 38px;
        margin-top: 15px;
        cursor: pointer;
    }
    .formAdd {
        flex-direction: column
    }
    .formAdd label {
        margin-left: 36px;
    }
    .formAdd input[type=search] {
        font-size: var(--text-size-xxxs);
        font-family: var(--roboto);
        color: var(--text-color-white);
        line-height: 15px;
        border-radius: 5px;
        width: 133px;
        height: 50px;
        margin-top: 20px;
        background-color: var(--pure-color);
        border: none;
        text-align: center;
    }
    .formAdd input[type=text] {
        font-size: var(--text-size-xxxs);
        line-height: 15px;
        padding-left: 16.66px;
        background-image: url(../img/down.svg);
        background-repeat: no-repeat;
        background-position: 90%;
        max-width: none;
        width: calc(100% - 80px);
        margin-left: 36px;
        margin-right: 35px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .formAdd input[type=submit] {
        font-size: var(--text-size-xxxs);
        line-height: 15px;
        width: 115px;
        margin-top: 20px;
        margin-bottom: 33px;
    }
    .workshopsCards {
        flex-direction: column
    }
    .workshopsCard {
        display: flex;
        max-width: none;
        height: 82.33px;
        border-radius: 0px;
    }
    .workshopsCard img {
        width: 62px;
        height: 62px;
        margin-top: 10.33px;
    }
    .workshopsCard:nth-child(n+2) {
        margin-left: 0px;
    }
    .workshopsCard:nth-child(2n+2) {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: -11px;
        margin-right: -11px;
        padding-left: 11px;
        
        background-color: rgba(240, 242, 244, 1);
    }
    .workshopsInf {
        padding: 0px 26px 0px 10px;
        display: flex;
        flex-direction: column-reverse
    }
    .workshopTime {
        font-size: var(--text-size-xxxs);
        font-family: var(--bold-font);
        color: var(--text-color-number);
        line-height: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .workshopWorkTime {
        font-size: var(--text-size-xxxs);
        font-family: var(--regular-font);
        color: var(--text-color-individualDark);
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 10.33px;
    }
    .workshopAddress {
        font-size: var(--text-size-xxs);
        font-family: var(--roboto);
        color: var(--text-color-grey);
        line-height: 16px;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    .workshopTypeOfRepair {
        font-size: var(--text-size-xxs);
        font-family: var(--regular-font);
        color: var(--text-color-lighter);
        line-height: 16px;
    }
    
}
