.tableInProcess {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
.tableServices {
    background: #FFF3CD;
    border-radius: 13px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 3.38px;
    height: 55px;
}