.company {
    margin-top: 60px;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 60px 118px 60px 118px;
    clear: both;
}
.companyImg {
    object-fit: cover;
    max-height: 438px;
    width: 394px;
    margin-right: 76px;
}
.aboutCompany {
    font-size: var(--text-size-xl);
    font-family: var(--bold-font);
    line-height: 44px;
    color: var(--text-color-regular);
    text-align: center;
    margin-bottom: 59.96px;
}

.companyTextMain {
    color: var(--text-color-regular);
    font-size: var(--text-size-20);
    font-family: var(--regular-font);
    line-height: 24px;
}
.companyTextMain span {
    font-family: var(--bold-font);
}
.companyTextWeHave {
    color: var(--text-color-regular);
    font-size: var(--text-size-20);
    font-family: var(--regular-font);
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px; 
}
.companytextChoose {
    color: var(--text-color-regular);
    font-size: var(--text-size-20);
    font-family: var(--regular-font);
    line-height: 144.19%;
    margin-bottom: 30px;
}
.companyButton {
    margin-left: 29px;
}
@media screen and (max-width: 767px) {
    .companyImg {
        display: none
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .companyImg {
        margin-right: 30px;
        width: 50%;
        border-radius: 30px;
    }
    .company {
         padding: 60px 30px 60px 30px;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 950px) {
    .companyTextWeHave {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .companytextChoose {
        margin-bottom: 5px;
    }
}