.header {
    height: 550px;
}
.headerImg {
        object-fit: cover;
    }
.headerImg {
    height: 550px;
    
}
.header__inf {
    margin-left: auto;
    margin-right: auto;
    max-width: 970px;
}

.logo {
    margin-top: 16px;
    font-size: var(--text-size-xxl);
    font-family: var(--bold-font);
    line-height: 58px;
    color: var(--text-color-white);
    margin-right: 135px;
}
.menu {
    display: flex;
    font-size: var(--text-size-s);
    font-family: var(--roboto);
    line-height: 58px;
    margin-top: 16px;
    list-style-type: none;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
}
.menu li a{
    color: var(--text-color-white);
}
.menu li:nth-child(-n+3) {
    margin-right: 60px;
}
.header__logo {
    font-size: var(--text-size-xl);
    font-family: var(--bold-font);
    line-height: 44px;
    color: var(--text-color-white);
    margin-top: 89px;
    text-align: center;
}
.header__desc {
    font-size: var(--text-size-l);
    font-family: var(--regular-font);
    line-height: 47px;
    color: var(--text-color-white);
    margin-top: 27px;
    width: 484px;
    text-align: center;
    
}
.header__buttons {
    margin-top: 30px;
    text-align: center;
}
.header__repair {
    margin-right: var(--spacing-m)
}
@media screen and (max-width: 767px) {
    .nav {
        width: 100%;
        margin-left: 0px;
    }
    .logo {
        font-size: var(--text-size-xl);
        line-height: 44px;
        margin: auto;
        margin-top: 145px;
    }
    .menu {
        display: none
    }
    .header__logo {
        display: none
    }
    .header__desc {
        font-size: var(--text-size-s);
        line-height: 194%;
        min-width: 304px;
        max-width: 751px;
        margin-top: 30px;
    }
    .header__buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 66px;
    }
    .header__repair {
        margin-right: 0px;
    }
    .header__inf {
        margin-left: 8px;
        margin-right: 8px;
    }
    .header .mobile {
        
        height: 510px;
        object-fit: cover;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .logo {
        margin-left: 30px;
    }
    .menu li:nth-child(1) {
        margin-right: 0px;
    }
    .menu li:nth-child(2) {
    margin-right: 23px;
    margin-left: 23px;
    }    
    .menu li:nth-child(3) {
    margin-right: 23px;
    }
    .logo {
        margin-right: 20px;
    }
}