.borderPartsDown {
    margin-left: 25px;
    margin-right: 0px!important;
    height: 1px;
    background-color: #CED4DA;
}
.cardsParts {
    width: 100%;
    margin-left: 30px;
    
}
.partsFilterOn {
    border: 1px solid var(--text-color-regular);
}
.cardParts {
    width: 100%;
    max-height: 171px;
    border-radius: 15px;
    margin-left: 0px;
    margin-bottom: 0px; 
}
.cardParts:nth-child(1) {
    height: auto
}
.cardParts:nth-child(n+2) {
    margin-top: 9px
}
.cardParts img{
    width: 180px;
    max-height: 160px;
}
.cardsPartsManufacturer {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: var(--text-size-l);
    line-height: 28px;
}
/*
.cardsPartsManufacturer:nth-child(2n+1) {
    margin-top: 9px;
}
*/
.cardsPartsDesc {
    margin-left: 28px;
    width: auto;
    margin-bottom: 0px;
    font-size: var(--text-size-xs);
    font-family: var(--roboto);
    line-height: 28px;
}
.cardsPartsAllDesc {
    font-size: var(--text-size-xs);
    font-family: var(--roboto);
    color: var(--text-color-lighter);
    line-height: 26px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.cardsPartsButton {
    width: 160px;
    height: 30px;
    font-family: var(--roboto);
    padding: 0px 0px;
    margin-right: 0px;
    cursor: pointer;
}
.cardsPartsPrice {
    font-size: var(--text-size-l);
    line-height: 28px;
    font-family: var(--roboto);
    margin-bottom: 12px;
    margin-right: 9px;
    margin-left: 0px;
}
.cardsPartsValute {
    font-size: var(--text-size-xxs);
    font-family: var(--roboto);
    margin-left: 0px;
    margin-top: 7px;
}