/* line 1, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.serviceVisit {
  margin-left: 30px;
  margin-right: 30px; }

/* line 5, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.serviceHeader {
  width: 690px;
  height: 110px;
  font-size: var(--text-size-xl);
  font-family: var(--bold-font);
  line-height: 44px;
  align-items: center;
  display: flex;
  color: var(--text-color-regular);
  margin-top: var(--spacing-xxxl);
  margin-bottom: var(--spacing-xl); }

/* line 17, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.formText {
  max-width: 470px; }

/* line 20, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.inputText {
  width: 470px;
  height: 40px;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--text-color-lighter);
  padding-left: 29px;
  margin-bottom: 30px;
  font-size: var(--text-size-s);
  font-family: var(--roboto); }

/* line 32, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.inputBreakdown {
  background-image: url(../img/down.svg);
  background-repeat: no-repeat;
  background-position: 95%; }

/* line 38, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.chooseDate, .chooseTime {
  color: var(--text-color-regular);
  margin-bottom: 30px;
  font-size: var(--text-size-l);
  font-family: var(--regular-font);
  line-height: 29px; }

/* line 45, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.chooseDate {
  margin-bottom: 14px;
  margin-left: 118px; }

/* line 49, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.chooseTime {
  margin-bottom: 11px;
  margin-left: 53px; }

/* line 53, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.chooseDateTable {
  box-sizing: border-box;
  padding: 15px;
  width: 299px;
  height: 277px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: var(--text-color-white);
  margin-left: 118px; }
  /* line 63, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .flex .flex p:first-child {
    color: var(--text-color-regular);
    font-size: var(--text-size-s);
    font-family: var(--bold-font);
    line-height: 22px; }
  /* line 69, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .flex .flex p:nth-child(2) {
    color: var(--text-color-regular);
    font-size: var(--text-size-s);
    font-family: var(--regular-font);
    line-height: 22px;
    margin-left: 14px;
    margin-bottom: 55px; }
  /* line 78, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable img {
    width: 8px;
    height: 16px;
    margin-top: 3px;
    cursor: pointer; }
  /* line 84, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .left {
    margin-right: 15px; }
  /* line 87, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .days {
    color: var(--text-color-lighter);
    font-size: var(--text-size-xxs);
    font-family: var(--regular-font);
    line-height: 17px;
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    text-align: center; }
  /* line 97, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .notActiveDate {
    color: var(--text-color-number);
    font-size: var(--text-size-xxs);
    font-family: var(--bold-font);
    line-height: 17px;
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    text-align: center; }
  /* line 107, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .activeDate {
    color: var(--text-color-regular);
    font-size: var(--text-size-xxs);
    font-family: var(--regular-font);
    line-height: 17px;
    text-align: start;
    height: 20px;
    width: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer; }
  /* line 119, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseDateTable .selectedDate {
    color: var(--text-color-white);
    background-color: #D71A21;
    border-radius: 100px;
    height: 20px !important;
    width: 20px !important; }

/* line 127, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.chooseTimeTable {
  width: 278px;
  height: 250px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: var(--text-color-white);
  padding: 15px;
  margin-left: 53px; }
  /* line 135, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseTimeTable p {
    color: var(--text-color-regular);
    font-size: var(--text-size-xxs);
    font-family: var(--regular-font);
    line-height: 17px;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    cursor: pointer; }
  /* line 146, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseTimeTable .selectedTime {
    background: var(--pure-color);
    border-radius: 43px;
    color: var(--text-color-white); }
  /* line 151, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
  .chooseTimeTable div:nth-child(n+2) {
    margin-top: 31.33px; }

/* line 155, /Users/anton/Documents/projects/autoservis/styles/serviceVisit.scss */
.buttonChoose {
  margin-left: calc( 50% - 87.5px); }

/*# sourceMappingURL=serviceVisit.css.map */